
obj/project.nuget.cache
obj/project.assets.json
obj/Debug/net6.0/csharp test.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net6.0/csharp test.csproj.AssemblyReference.cache
obj/Debug/net6.0/csharp test.assets.cache
obj/Debug/net6.0/apphost.exe
obj/csharp test.csproj.nuget.g.props
obj/csharp test.csproj.nuget.dgspec.json
.vs/ProjectEvaluation/csharp test.projects.v7.bin
.vs/ProjectEvaluation/csharp test.metadata.v7.bin
.vs/csharp test/v17/.suo
.vs/csharp test/v17/.futdcache.v2
.vs/csharp test/FileContentIndex/cdcdc3db-609d-45c3-8357-cc297f3f3bef.vsidx
.vs/csharp test/DesignTimeBuild/.dtbcache.v2
.vs/csharp test/ColorByRegexConfig.txt
obj/project.nuget.cache
obj/project.assets.json
obj/Debug/net6.0/csharp test.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net6.0/csharp test.csproj.AssemblyReference.cache
obj/Debug/net6.0/csharp test.assets.cache
obj/Debug/net6.0/apphost.exe
obj/csharp test.csproj.nuget.g.props
obj/csharp test.csproj.nuget.dgspec.json
obj/project.nuget.cache
obj/project.assets.json
obj/Debug/net6.0/csharp test.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net6.0/csharp test.csproj.AssemblyReference.cache
obj/Debug/net6.0/csharp test.assets.cache
obj/Debug/net6.0/apphost.exe
obj/csharp test.csproj.nuget.g.props
obj/csharp test.csproj.nuget.dgspec.json
